@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

html {
    box-sizing: border-box;
}

body {
    background-color: #000;

}

#background {
    position: absolute;
    height: 100%;
    width: 100%;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    filter: blur(10px);
    z-index: -1;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background: transparent;
    border: 1px solid #bd8cae;
    border-radius: 20px;
    height: 100vh;
    width: auto;
}

.player-container {
    height: 400pt;
    width: 250pt;
    border-radius: 20px;
    border: 1px solid #fff;
    background-color: #bd8cae;
    box-shadow: 0 15px 30px 5px rgba(0, 0, 0, 0.3);
}

.img-container {
    height: 260pt;
    background-image: url('./assests/icons/music-icon.jpg');
    background-size: cover;
    background-color: #e9c9c9;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border: none;
}

#thumbnail {
    height: 260pt;
    width: 250.4pt;
    background-image: url('./assests/icons/music-icon.jpg');
    background-size: cover;
    background-color: #e9c9c9;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border: 1px solid #bd8cae;
    transition: 1s;

}

.btn-container {
    position: relative;
    display: flex;
    justify-content: center;
    bottom: 7%;
}

.btn-container img {
    height: 50px;
    border: none;
}

#play {
    background: linear-gradient(90deg, rgb(227, 156, 156), rgb(231, 208, 208), rgb(133, 133, 245));

    border-radius: 30px;
}

#now-playing {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

h2 {
    margin-top: -5px;
    text-align: center;
    width: 247pt;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

h3 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin-top: -15px;
    font-size: 18px;
}

.progress-container {
    display: flex;
    justify-content: center;
    margin-top: -3px;
    margin-bottom: 6px;
}

#progress-bar {
    appearance: none;
    height: 5px;
    background: #000000;
    width: 190pt;
    border-radius: 30px;
}

.currentTime {
    position: relative;
    height: 50px;
    width: 50px;
    cursor: pointer;
    left: 3%;
    margin-top: -5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #000
}

.durationTime {
    position: relative;
    height: 50px;
    width: 50px;
    margin-top: -5.4px;
    left: 1%;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #000
}



@media screen and (min-width: 280px) and (max-width:500px) {
    .player-container {
        height: 400pt;
        width: 90%;
    }
    .img-container {
        height: 60%;
    }
    #thumbnail {
        height: 60%;
        width: 100%;
    }
    h2 {
        font-size: 30px;
        margin-left: 15px;
        margin-top: -15px;
    }
    h3 {
        margin-top: -25px;
        font-size: 20px;
    }
    .btn-container {
        position: relative;
        display: flex;
        justify-content: center;
        bottom: 4.3%;
    }
    .btn-container img {
        height:65px;
        border: none;
    }
    .currentTime{
        font-size: 20px;
        left: 1%;
        margin-top: -8px;
    }
    .durationTime{
        font-size: 20px;
        margin-top: -8px;
    }
    #progress-bar {
        width: 200pt;
    }
}
